.projects {
	display: flex;
	flex-direction: column;
	margin: 5rem auto;
	/* background-color: #f7f5fb; */
}
.projects h2 {
	text-align: center;
	text-decoration: underline;
	margin-bottom: 3rem;
}
.projects__container {
	display: flex;
	flex-direction: column;
	gap: 5rem;
	width: 70%;

	box-sizing: border-box;
	align-self: center;
	justify-self: center;
}
.project__container {
	display: flex;
	border-radius: 1rem;

	flex-direction: row;
	justify-content: space-between;
	height: 22rem;
	background-color: #182a3e;
	transform: scale(1);
	transition: transform 0.2s linear;
}
.project__container:hover {
	transform: scale(1.01);
	box-shadow: 10px 10px 40px black;
}
.project__left {
	width: 40%;
	height: 100%;
	color: white;
	border-top-left-radius: inherit;
	border-bottom-left-radius: inherit;

	background-color: #9e7837;
}
.project__imgContainer img {
	width: 10rem;
}
.project__content {
	padding: 0.5rem;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.project__content h4 {
	text-align: center;
}
.project__content h6 {
	text-decoration: underline;
	text-align: center;
}

.tech {
	display: flex;
	gap: 0.5rem;
}
.tech p {
	border: 2px solid white;
	width: max-content;
	border-radius: 0.5rem;
	padding: 0.1rem 1rem;
}
.project__btnLinks {
	display: flex;
	width: 100%;
	gap: 0.5rem;
	justify-content: space-between;
}
video {
	width: 720px;
	border-top-right-radius: inherit;
	border-bottom-right-radius: inherit;
	filter: grayscale(100%);
}
video:hover {
	filter: grayscale(0);
}
