.projects {
	display: flex;
	flex-direction: column;

	background: linear-gradient(315deg, #182a3e 0%, #121f2d 74%);
}
.projects h2 {
	text-align: center;
	color: white;
	text-decoration: underline;
	margin-top: 5rem;
	margin-bottom: 5rem;
}
.projects__container {
	display: flex;
	flex-direction: column;
	gap: 5rem;
	width: 70%;

	box-sizing: border-box;
	align-self: center;
	justify-self: center;
}
.project__container {
	border-radius: 0.5rem;
	width: 300px;
	height: 400px;
	align-self: center;
	justify-self: center;
	background-color: #182a3e;
	transform: scale(1);
	transition: transform 0.2s linear;
	position: relative;
}
.media {
	width: 100%;
	height: 100%;
}
section .media img {
	max-width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 0.5rem;
}
.project__container:last-of-type {
	margin-bottom: 5rem;
}
.project__container:hover {
	transform: scale(1.01);
	box-shadow: 10px 10px 40px rgb(155, 150, 150);
}
.project__left {
	height: 12.5%;
	width: 100%;
	color: #182a3e;
	background-color: #f7f5fb;
	position: absolute;
	top: 21.85rem;
	overflow: hidden;
	border-radius: inherit;
	cursor: pointer;
	transition: all 0.5s;
}
.project__left:hover {
	height: 100%;
	top: 0;
	left: 0;
}

.project__content {
	padding: 0.5rem;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.project__content h4 {
	text-align: center;
}
.project__content h6 {
	text-decoration: underline;
	text-align: center;
}

.tech {
	display: flex;
	gap: 0.5rem;
	flex-wrap: wrap;
	overflow-y: scroll;
	margin-bottom: 0.5rem;
}
.tech p {
	border: 2px solid white;
	width: max-content;
	border-radius: 0.5rem;
	padding: 0.1rem 1rem;
}
.project__btnLinks {
	display: flex;
	width: 100%;
	gap: 0.5rem;
	justify-content: space-between;
}
video {
	display: none;
	width: 400px;
	height: 400px;
	border-top-right-radius: inherit;
	border-bottom-right-radius: inherit;
	filter: grayscale(100%);
}
video:hover {
	filter: grayscale(0);
}
