.projects {
	display: flex;
	flex-direction: column;
	width: 100%;

	background: linear-gradient(315deg, #182a3e 0%, #121f2d 74%);
}
.projects h2 {
	text-align: center;
	color: white;
	text-decoration: underline;
	margin-top: 5rem;
	margin-bottom: 5rem;
}
.projects__container {
	display: flex;
	flex-direction: column;
	gap: 5rem;
	width: 70%;
	margin-bottom: 5rem;
	box-sizing: border-box;
	align-self: center;
	justify-self: center;
}

@media screen and (min-width: 650px) {
	.projects__container {
		width: 95%;
		max-width: 39rem;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;

		margin: auto;
	}
}
@media screen and (min-width: 760px) {
	.projects__container {
		width: 77%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin-bottom: 3rem;
	}
}
@media screen and (min-width: 980px) {
	.projects__container {
		width: 100%;
		max-width: 59rem;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
}
@media screen and (min-width: 1440px) {
	.projects__container {
		max-width: 80rem;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
}
