.project__container {
	border-radius: 0.5rem;
	width: 300px;
	height: 400px;
	align-self: center;
	justify-self: center;
	background-color: #182a3e;
	transform: scale(1);
	transition: all 0.5s ease;
	position: relative;
	filter: grayscale(100%);
}
.media {
	width: 100%;
	height: 100%;
}
section .media img {
	width: 100%;
	max-width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 0.5rem;
}

.project__left {
	height: 12%;
	width: 100%;
	color: #182a3e;
	background-color: #f7f5fb;
	position: absolute;
	top: 22rem;
	overflow: hidden;
	border-radius: inherit;
	transition: all 0.5s ease;
}
.project__container:hover {
	transform: scale(1.01);
	box-shadow: 10px 10px 40px rgb(155, 150, 150);
	filter: grayscale(0);
}
.project__container:hover .project__left {
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.65);
	color: white;
}

.project__content {
	padding: 0.5rem;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.project__content h4 {
	text-align: center;
	text-decoration: underline;
}
.project__content h6 {
	text-decoration: underline;
	text-align: center;
}

.tech {
	display: flex;
	gap: 0.5rem;
	flex-wrap: wrap;
	overflow-y: scroll;
	margin-bottom: 0.5rem;
}
.tech p {
	border: 2px solid white;
	width: max-content;
	border-radius: 0.5rem;
	padding: 0.1rem 1rem;
}
.project__btnLinks {
	display: flex;
	width: 100%;
	gap: 0.5rem;
	justify-content: space-between;
}
