.project__container {
	border-radius: 0.5rem;
	width: 300px;
	height: 400px;
	align-self: center;
	justify-self: center;
	background-color: #182a3e;
	transform: scale(1);
	transition: transform 0.2s linear;
	position: relative;
	filter: grayscale(100%);
}
.media {
	width: 100%;
	height: 100%;
}
section .media img {
	max-width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 0.5rem;
}

.project__container:hover {
	transform: scale(1.01);
	box-shadow: 10px 10px 40px rgb(155, 150, 150);
	filter: grayscale(0);
}
.project__left {
	height: 12%;
	width: 100%;
	color: #182a3e;
	background-color: #f7f5fb;
	position: absolute;
	top: 22rem;
	overflow: hidden;
	border-radius: inherit;
	cursor: pointer;
	transition: all 0.5s;
}
.project__left:hover {
	height: 100%;
	top: 0;
	left: 0;
}

.project__content {
	padding: 0.5rem;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.project__content h4 {
	text-align: center;
}
.project__content h6 {
	text-decoration: underline;
	text-align: center;
}

.tech {
	display: flex;
	gap: 0.5rem;
	flex-wrap: wrap;
	overflow-y: scroll;
	margin-bottom: 0.5rem;
}
.tech p {
	border: 2px solid white;
	width: max-content;
	border-radius: 0.5rem;
	padding: 0.1rem 1rem;
}
.project__btnLinks {
	display: flex;
	width: 100%;
	gap: 0.5rem;
	justify-content: space-between;
}
video {
	display: none;
	width: 400px;
	height: 400px;
	border-top-right-radius: inherit;
	border-bottom-right-radius: inherit;
}

@media screen and (min-width: 1080px) {
	.project__container {
		width: 100%;
		display: flex;
		max-height: 360px;
		justify-content: space-evenly;
	}
	.project__left {
		position: relative;
		top: 0;
		height: 100%;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	.project__left:hover {
		top: 0;
		left: 0;
	}
	.media img {
		display: none;
	}
	.media video {
		display: block;
		width: 450px;
		height: auto;
		margin: 0;
		padding: 0;
		border-top-right-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
	}
}
