.button {
	background: #182a3e;
	width: 100%;
	padding: 5px 20px;
	text-align: center;
	border: 2px solid white;
	border-radius: 0.5rem;
}
.button a {
	color: white;
	text-decoration: none;
}
.button:hover {
	background: #47baff;
	cursor: pointer;
}
