.tech__wrapper {
	width: 100%;
	height: 80%;
	position: relative;
}
.tech__container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	position: relative;
}
.tech__text {
	width: 80%;
	height: 100%;
	/* color: white; */
	display: flex;
	flex-direction: column;
	padding: 0px 50px;
	margin: 90px 0;
}
.tech__text h5 {
	text-decoration: underline;
	font-size: 1.7rem;
}
.tech__text p {
	font-size: 1.5rem;
}
.image__container {
	width: 100%;
	display: flex;
	justify-content: center;
}
.software {
	width: 90%;
	max-width: 100%;
	min-width: 400px;
	position: relative;
	margin: auto;
	margin-left: 50px;
}
