.contact__container {
	position: relative;
	z-index: 10;
}
.contact__container h5 {
	width: 80%;
	background: linear-gradient(315deg, #182a3e 0%, #121f2d 74%);
	text-align: center;
	margin: auto;
	color: white;
	padding: 50px 10px;
	margin-bottom: 50px;
	border-radius: 5px;
}
.contactMe {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	position: relative;
	padding-bottom: 20px;
	z-index: 5;
}
.contactMe :first-child {
	width: 100%;
	margin: auto;
}
.contactMe .github {
	position: absolute;
	top: 48%;
	left: 21%;
	width: 7%;
	border-radius: 1rem;
}
.github:hover {
	cursor: pointer;
	transform: scale(1.01);
	box-shadow: 0 5px 15px rgb(0, 140, 255);
}

.contactMe .email {
	position: absolute;
	top: 60.5%;
	left: 41.9%;
	width: 7%;
	border-radius: 1rem;
}
.email:hover {
	cursor: pointer;
	transform: scale(1.01);
	box-shadow: 0 5px 15px rgb(0, 140, 255);
}
.contactMe .linkedin {
	position: absolute;
	top: 35.3%;
	left: 62%;
	width: 7%;
	border-radius: 1rem;
}
.linkedin:hover {
	cursor: pointer;
	transform: scale(1.01);
	box-shadow: 0 5px 15px rgb(0, 140, 255);
}
